/******************************************************************************/
/*  Reset styles															  */
/******************************************************************************/

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video 
{
	border:0px;
    margin:0px;
    padding:0px;
	font-size:100%;
    vertical-align:baseline;
}

/******************************************************************************/
/* Base styles																  */
/******************************************************************************/

*
{
	outline:none;
}

body
{
	margin:0px;
	padding:0px;
	padding-bottom:20px;
	background-repeat:repeat-x;
	background-position:0px 0px;	
}

body.background-grid		{ background-image:url('../image/background/grid.png');			}
body.background-mesh		{ background-image:url('../image/background/mesh.png');			}
body.background-wood		{ background-image:url('../image/background/wood.png');			}
body.background-wood-2		{ background-image:url('../image/background/wood2.png');		}
body.background-wood-3		{ background-image:url('../image/background/wood3.png');		}
body.background-tiles		{ background-image:url('../image/background/tiles.png');		}
body.background-carbon		{ background-image:url('../image/background/carbon.png');		}
body.background-fibers		{ background-image:url('../image/background/fibers.png');		}
body.background-stripes		{ background-image:url('../image/background/stripes.png');		}
body.background-sandpaper	{ background-image:url('../image/background/sandpaper.png');	}

body,input,textarea,a
{
	font:13px Arial;
}

textarea
{
	resize:none;
	overflow:hidden;
}

a,textarea,input 
{ 
	outline:none; 
}

br
{
	height:10px;
}

p
{
	padding:10px 0px 10px 0px;
}

p,.paragraph
{
	line-height:150%;
}

.clear-fix:after 
{
	height:0;
	clear:both;
	content:" ";
	font-size:0;
	display: block;
	visibility: hidden;
}

* html .clear-fix             { zoom: 1; } 
*:first-child+html .clear-fix { zoom: 1; }


.float-left		{ float:left;	}
.float-right	{ float:right;	}

.box-center
{
	margin-left:auto !important;
	margin-right:auto !important;
}

.text-right
{
	text-align:right;
}

a
{	
	text-decoration:none !important;
}

a img
{
	border:none;
}

a:hover
{
	text-decoration:underline;
}

a.image-link
{
	width:100%;
	height:100%;
	display:block;
	text-decoration:none;
}

img
{
	max-width:100%;
	height:auto;
}

.top-0
{
	margin-top:0px !important;
	padding-top:0px !important;
}

.margin-top-0		{ margin-top:0px !important;			}
.margin-top-10		{ margin-top:10px !important;			}
.margin-top-20		{ margin-top:20px !important;			}
.margin-top-30		{ margin-top:30px !important;			}
.margin-top-40		{ margin-top:40px !important;			}
.margin-top-50		{ margin-top:50px !important;			}

.margin-right-0		{ margin-right:0px !important;			}
.margin-right-10	{ margin-right:10px !important;			}
.margin-right-20	{ margin-right:20px !important;			}
.margin-right-30	{ margin-right:30px !important;			}
.margin-right-40	{ margin-right:40px !important;			}
.margin-right-50	{ margin-right:50px !important;			}

.margin-bottom-0	{ margin-bottom:0px !important;			}
.margin-bottom-10	{ margin-bottom:10px !important;		}
.margin-bottom-20	{ margin-bottom:20px !important;		}
.margin-bottom-30	{ margin-bottom:30px !important;		}
.margin-bottom-40	{ margin-bottom:40px !important;		}
.margin-bottom-50	{ margin-bottom:50px !important;		}

.margin-left-0		{ margin-left:0px !important;			}
.margin-left-10		{ margin-left:10px !important;			}
.margin-left-20		{ margin-left:20px !important;			}
.margin-left-30		{ margin-left:30px !important;			}
.margin-left-40		{ margin-left:40px !important;			}
.margin-left-50		{ margin-left:50px !important;			}

.padding-top-0		{ padding-top:0px !important;			}
.padding-top-10		{ padding-top:10px !important;			}
.padding-top-20		{ padding-top:20px !important;			}
.padding-top-30		{ padding-top:30px !important;			}
.padding-top-40		{ padding-top:40px !important;			}
.padding-top-50		{ padding-top:50px !important;			}

.padding-right-0	{ padding-right:0px !important;			}
.padding-right-10	{ padding-right:10px !important;		}
.padding-right-20	{ padding-right:20px !important;		}
.padding-right-30	{ padding-right:30px !important;		}
.padding-right-40	{ padding-right:40px !important;		}
.padding-right-50	{ padding-right:50px !important;		}

.padding-bottom-0	{ padding-bottom:0px !important;		}
.padding-bottom-10	{ padding-bottom:10px !important;		}
.padding-bottom-20	{ padding-bottom:20px !important;		}
.padding-bottom-30	{ padding-bottom:30px !important;		}
.padding-bottom-40	{ padding-bottom:40px !important;		}
.padding-bottom-50	{ padding-bottom:50px !important;		}

.padding-left-0		{ padding-left:0px !important;			}
.padding-left-10	{ padding-left:10px !important;			}
.padding-left-20	{ padding-left:20px !important;			}
.padding-left-30	{ padding-left:30px !important;			}
.padding-left-40	{ padding-left:40px !important;			}
.padding-left-50	{ padding-left:50px !important;			}

/******************************************************************************/
/*  Fancybox																  */
/******************************************************************************/

#fancybox-overlay
{
	position:fixed;
}

.fancybox-nav
{
	width:50%;
}

.fancybox-skin,
#fancybox-buttons ul
{
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;	
}

.fancybox-skin
{
	background:#FFFFFF;
}

#fancybox-buttons ul
{
	width:161px;
	border:none;
	box-shadow:none;
	background:rgba(0,0,0,0.5);
}

#fancybox-buttons a.btnNext,
#fancybox-buttons a.btnClose,
#fancybox-buttons a.btnToggle
{
	border:none;
}

.fancybox-title-inside
{
	color:#888888;
	text-align:left;
	line-height:150%;
}

.fancybox-subtitle
{
	display:none;
}

/******************************************************************************/
/*	Layout																	  */
/******************************************************************************/

	/**************************************************************************/
	/*	Layout / Layout 50x50%												   /
	/**************************************************************************/

	.layout-50 {}

	.layout-50-left 
	{ 
		clear:both;
		float:left; 
	}

	.layout-50-right 
	{ 
		float:right; 
	}

	.layout-50-left,
	.layout-50-right 
	{ 
		width:48%;
	}

	/**************************************************************************/
	/*	Layout / Layout 60x40%												   /
	/**************************************************************************/

	.layout-6040 {}

	.layout-6040-left 
	{
		width:59%; 
		clear:both;
		float:left; 
	}

	.layout-6040-right 
	{ 
		width:39%;
		float:right; 
	}

	/**************************************************************************/
	/*	Layout / Layout 40x60%												   /
	/**************************************************************************/

	.layout-4060 {}

	.layout-4060-left 
	{
		width:39%; 
		clear:both;
		float:left; 
	}

	.layout-4060-right 
	{ 
		width:59%;
		float:right; 
	}

	/**************************************************************************/
	/*	Layout / Layout 70x30%												   /
	/**************************************************************************/

	.layout-7030 {}

	.layout-7030-left 
	{
		width:69%; 
		clear:both;
		float:left; 
	}

	.layout-7030-right 
	{ 
		width:29%;
		float:right; 
	}
	
/******************************************************************************/
/*	Font																	  */
/******************************************************************************/

h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,
div.cascade ul.cascade-menu li a span.title,
div.cascade ul.cascade-menu li a span.subtitle
{
	font-family:'Open Sans',Arial;
}

/******************************************************************************/
/*	Color																	  */
/******************************************************************************/

	/**************************************************************************/
	/*	Color / Background color											  */
	/**************************************************************************/

	body,
	.jspTrack
	{
		background-color:#252525;
	}
	
	.jspDrag
	{
		background-color:#343434;
	}
	
	.jspHover
	{
		background-color:#E0E0E0;
	}
	
	.ui-tooltip-error .qtip-content
	{
		background:#E9431C;
	}
	
	.ui-tooltip-success .qtip-content
	{
		background:#61911B;
	}
	
	.image-preloader,
	ul.filter-list li a:hover,
	ul.filter-list li a.selected
	{
		background-color:#000000;
	}
	
	div.footer hr.footer-line
	{
		background-color:#353535;
	}
	
	/**************************************************************************/
	/*	Color / Text color													  */
	/**************************************************************************/
	
	body,input,textarea,select,a,#fancybox-title-inside
	{
		color:#9F9F9F;
	}
	
	h1,h2,h3,h4,h5,h6,
	h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,
	div.cascade div.cascade-window h3
	{
		color:#E0E0E0;
	}
	
	.ui-tooltip-error .qtip-content,
	.ui-tooltip-success .qtip-content,
	div.cascade ul.cascade-menu li a span.title,
	div.cascade ul.cascade-menu li a span.subtitle
	{
		color:#FFFFFF;
	}
	
	a.button:hover,
	input.button:hover
	{
		color:#D75902;
	}
	
	div.header h5 a
	{
		color:#969696;
	}

	div.footer hr.footer-line
	{
		color:#353535;
	}
	
	div.footer div.main div.latest-tweets #latest-tweets ul li p a
	{
		color:#DEDEDE;
	}
	
	ul.social-list-2 li a
	{
		color:#DFDFDF;
	}

	ul.skill-list li h5, 
	ul.career-list li h5 
	{
		color:#EAB000;
	}

	ul.contact-list li span
	{
		color:#D65902;
	}
	
/******************************************************************************/
/*	Headers																	  */
/******************************************************************************/

h1,h2,h3,h4,h5,h6
{
	margin:0px;
	padding:0px;
	margin-top:10px;
	font-weight:normal;
	margin-bottom:10px;
}

/******************************************************************************/
/*	List																	  */
/******************************************************************************/

ul.no-list
{
	margin:0px;
	padding:0px;
	list-style-type:none;		
}

/******************************************************************************/	
/*	Scrollbars															      */
/******************************************************************************/

.jspVerticalBar
{
	width:10px;
}

.jspDrag
{
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

/******************************************************************************/
/*	Isotope																	  */
/******************************************************************************/

.isotope-hidden
{
	display:none;
}

/******************************************************************************/
/* Qtip																		  */
/******************************************************************************/

.ui-tooltip-error .qtip-content,
.ui-tooltip-success .qtip-content 
{
	border:none;
	font-size:13px;
}

.qtip-content
{
	padding:10px 20px 10px 20px;
}

.ui-tooltip-error .qtip-content
{
	text-shadow:0px 1px 0px #8C2811;
}

.ui-tooltip-error.qtip-default
{
	border-color:#E9431C;
}

.ui-tooltip-success .qtip-content
{
	text-shadow:0px 1px 0px #3A5710;
}

.ui-tooltip-success.qtip-default
{
	border-color:#61911B;
}

/******************************************************************************/
/* Captify																	  */
/******************************************************************************/

.caption-bottom
{
	padding-top:15px;
	border:0 !important;
	cursor:pointer;
}

/******************************************************************************/
/* Image preloader														      */
/******************************************************************************/

.image-preloader
{
	width:100%;
	height:100%;
	display:block;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url('../image/image_preloader.gif');		
}

	.image-preloader img
	{
		opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		#filter:alpha(opacity=0);
	}

/******************************************************************************/
/* Form																          */
/******************************************************************************/

form,
input,
textarea
{
	margin:0px;
	padding:0px;
}

label.infield
{
	position:absolute;
}

textarea,
input[type="text"]
{
	float:right;
	width:262px;
	border:none;
	background:none;
	border:solid 1px #343434;
}

select,
textarea,
label.infield,
input[type="text"]
{
	padding:10px;
}

textarea
{
	height:140px;
}

.form-line
{
	height:100%;
	overflow:hidden;
	margin-bottom:10px;
}

form .form-line
{
	float:right;
}

a.button,
input.button
{
	float:right;
	cursor:pointer;
	margin-left:10px;
	background:transparent;
	padding:8px 20px 8px 20px;
	border:solid 1px #343434;
}

input.button
{
	margin-left:0px;
}

	a.button:hover,
	input.button:hover
	{
		border-color:#D75902;
		text-decoration:none;
	}
	
/******************************************************************************/
/* Social list														          */
/******************************************************************************/

	/**************************************************************************/
	/* Social list / Social list 1									          */
	/**************************************************************************/

	ul.social-list-1
	{
		float:right;
	}

		ul.social-list-1 li
		{
			float:left;
			margin:0px 0px 0px 15px;
			padding:11px 0px 11px 0px;
		}

		ul.social-list-1 li:first-child
		{
			padding-right:15px;
			border-right:solid 1px #343434; 
		}

			ul.social-list-1 li a
			{
				width:16px;
				height:16px;
				display:block;
				background-position:0px 0px;
				background-repeat:no-repeat;
			}

			ul.social-list-1 li a:hover
			{
				background-position:0px -16px;
			}

			ul.social-list-1 li a.social-rss		{ background-image:url('../image/social-icon/social_rss.png');			}
			ul.social-list-1 li a.social-xing		{ background-image:url('../image/social-icon/social_xing.png');			}
			ul.social-list-1 li a.social-skype		{ background-image:url('../image/social-icon/social_skype.png');		}
			ul.social-list-1 li a.social-flickr		{ background-image:url('../image/social-icon/social_flickr.png');		}
			ul.social-list-1 li a.social-google		{ background-image:url('../image/social-icon/social_google.png');		}
			ul.social-list-1 li a.social-twitter	{ background-image:url('../image/social-icon/social_twitter.png');		}
			ul.social-list-1 li a.social-facebook	{ background-image:url('../image/social-icon/social_facebook.png');		}
			ul.social-list-1 li a.social-linkedin	{ background-image:url('../image/social-icon/social_linkedin.png');		}
			ul.social-list-1 li a.social-wordpress	{ background-image:url('../image/social-icon/social_wordpress.png');	}
			ul.social-list-1 li a.social-soundcloud	{ background-image:url('../image/social-icon/social_soundcloud.png');	}

	/**************************************************************************/
	/* Social list / Social list 2									          */
	/**************************************************************************/	

	ul.social-list-2
	{
		margin-top:30px;
	}

		ul.social-list-2 li
		{
			min-height:41px;
			padding-left:55px;
			margin-bottom:20px;
			background-repeat:no-repeat;
			background-position:center left;
		}	

			ul.social-list-2 li.social-rss			{ background-image:url('../image/social-icon/about_icon_rss.png');			}		
			ul.social-list-2 li.social-xing			{ background-image:url('../image/social-icon/about_icon_xing.png');			}
			ul.social-list-2 li.social-skype		{ background-image:url('../image/social-icon/about_icon_skype.png');		}
			ul.social-list-2 li.social-flickr		{ background-image:url('../image/social-icon/about_icon_flickr.png');		}
			ul.social-list-2 li.social-google		{ background-image:url('../image/social-icon/about_icon_google.png');		}	
			ul.social-list-2 li.social-twitter		{ background-image:url('../image/social-icon/about_icon_twitter.png');		}
			ul.social-list-2 li.social-facebook		{ background-image:url('../image/social-icon/about_icon_facebook.png');		}
			ul.social-list-2 li.social-linkedin		{ background-image:url('../image/social-icon/about_icon_linkedin.png');		}		
			ul.social-list-2 li.social-wordpress	{ background-image:url('../image/social-icon/about_icon_wordpress.png');	}		
			ul.social-list-2 li.social-soundcloud	{ background-image:url('../image/social-icon/about_icon_soundcloud.png');	}		

				ul.social-list-2 li a,
				ul.social-list-2 li span
				{
					display:block;
				}

				ul.social-list-2 li a:hover
				{
					text-decoration:underline !important;
				}

/******************************************************************************/
/*	Main																	  */
/******************************************************************************/

div.main
{
	width:830px;
}

/******************************************************************************/
/*	Header															          */
/******************************************************************************/

div.header-wrapper
{
	top:-1px;
	width:100%;
	margin-top:51px;
	position:relative;
	background:url('../image/header_light.png') top center no-repeat;
}

div.header
{
	position:relative;
}

	div.header h1
	{
		margin-top:35px;
	}

	div.header h1 a
	{
		line-height:1;
		font-size:60px;
		font-weight:300;
		margin-bottom:10px;
		letter-spacing:-2px;
	}

	div.header h5 a
	{
		font-size:15px;
		margin-top:0px;
	}

	div.header ul.header-menu
	{
		float:right;
		margin-top:105px;
		text-align:right;
	}

		div.header ul.header-menu li
		{
			float:left;
			display:block;
			margin-left:15px;
			padding-left:25px;
			background-repeat:no-repeat;
			background-position:top left;
		}
		
		div.header ul.header-menu li:first-child
		{
			margin-left:0px;
		}

		div.header ul.header-menu li.header-menu-mail       { background-image:url('../image/header_icon_mail.png');        }
		div.header ul.header-menu li.header-menu-phone      { background-image:url('../image/header_icon_phone.png');       }
		div.header ul.header-menu li.header-menu-download   { background-image:url('../image/header_icon_download.png');    }

		div.header ul.header-menu li a:hover
		{
			text-decoration:underline !important;
		}

/******************************************************************************/
/*	Content														              */
/******************************************************************************/

div.content
{
	height:500px;
}

/******************************************************************************/
/*	Cascade														              */
/******************************************************************************/

div.cascade
{
	width:830px;
	height:468px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

	div.cascade div.caroufredsel_wrapper
	{
		width:830px !important;
	}

	div.cascade.preloader
	{
		background:url('../image/preloader.gif') 50% 50% no-repeat;
	}

	/**************************************************************************/
	/* Cascade / Box menu										              */
	/**************************************************************************/

	div.cascade ul.cascade-menu
	{
		z-index:2;
		float:left;
		margin:0px;
		padding:0px;
		width:830px;
		height:100%;
		overflow:hidden;
		position:relative;
		list-style-type:none;
	}

		div.cascade ul.cascade-menu li
		{
			opacity:0;
			z-index:1;
			height:0px;
			width:200px;
			display:none;
			cursor:pointer;
			position:absolute;
			text-align:center;
			background-position:0px 0px;
			background-repeat:no-repeat;
			background-image:url('../image/tab_outline.png'); 	
		}

			div.cascade ul.cascade-menu li a
			{
				margin:5px;
				width:190px;
				height:430px;
				display:block; 
				background-position:0px 0px;
				background-repeat:no-repeat;
			}

			div.cascade ul.cascade-menu li a:hover
			{
				background-position:0px -430px;          
			}

				div.cascade ul.cascade-menu li a span.title,
				div.cascade ul.cascade-menu li a span.subtitle
				{
					display:block;
					text-align:center;
				}

				div.cascade ul.cascade-menu li a span.title
				{
					font-size:24px;
					padding-top:255px;
				}

				div.cascade ul.cascade-menu li a span.subtitle
				{
					font-size:13px;
					padding-top:32px;
				}

			/******************************************************************/
			/* Cascade / Box menu / Background								  */
			/******************************************************************/

			div.cascade ul.cascade-menu li.blue-info a              { background-image:url('../image/tab/blue_info.png');       }
			div.cascade ul.cascade-menu li.blue-mail a              { background-image:url('../image/tab/blue_mail.png');       }
			div.cascade ul.cascade-menu li.blue-tick a              { background-image:url('../image/tab/blue_tick.png');       }
			div.cascade ul.cascade-menu li.blue-arrow a             { background-image:url('../image/tab/blue_arrow.png');      }
			div.cascade ul.cascade-menu li.blue-people a            { background-image:url('../image/tab/blue_people.png');     }
			div.cascade ul.cascade-menu li.blue-basket a            { background-image:url('../image/tab/blue_basket.png');     }
			div.cascade ul.cascade-menu li.blue-camera a            { background-image:url('../image/tab/blue_camera.png');     }
			div.cascade ul.cascade-menu li.blue-document a          { background-image:url('../image/tab/blue_document.png');   }
			div.cascade ul.cascade-menu li.blue-briefcase a         { background-image:url('../image/tab/blue_briefcase.png');  }
			div.cascade ul.cascade-menu li.blue-lightbulb a         { background-image:url('../image/tab/blue_lightbulb.png');  }

			div.cascade ul.cascade-menu li.green-info a             { background-image:url('../image/tab/green_info.png');       }
			div.cascade ul.cascade-menu li.green-mail a             { background-image:url('../image/tab/green_mail.png');       }
			div.cascade ul.cascade-menu li.green-tick a             { background-image:url('../image/tab/green_tick.png');       }
			div.cascade ul.cascade-menu li.green-arrow a            { background-image:url('../image/tab/green_arrow.png');      }
			div.cascade ul.cascade-menu li.green-people a           { background-image:url('../image/tab/green_people.png');     }
			div.cascade ul.cascade-menu li.green-basket a           { background-image:url('../image/tab/green_basket.png');     }
			div.cascade ul.cascade-menu li.green-camera a           { background-image:url('../image/tab/green_camera.png');     }
			div.cascade ul.cascade-menu li.green-document a         { background-image:url('../image/tab/green_document.png');   }
			div.cascade ul.cascade-menu li.green-briefcase a        { background-image:url('../image/tab/green_briefcase.png');  }
			div.cascade ul.cascade-menu li.green-lightbulb a        { background-image:url('../image/tab/green_lightbulb.png');  }

			div.cascade ul.cascade-menu li.lime-info a              { background-image:url('../image/tab/lime_info.png');       }
			div.cascade ul.cascade-menu li.lime-mail a              { background-image:url('../image/tab/lime_mail.png');       }
			div.cascade ul.cascade-menu li.lime-tick a              { background-image:url('../image/tab/lime_tick.png');       }
			div.cascade ul.cascade-menu li.lime-arrow a             { background-image:url('../image/tab/lime_arrow.png');      }
			div.cascade ul.cascade-menu li.lime-people a            { background-image:url('../image/tab/lime_people.png');     }
			div.cascade ul.cascade-menu li.lime-basket a            { background-image:url('../image/tab/lime_basket.png');     }
			div.cascade ul.cascade-menu li.lime-camera a            { background-image:url('../image/tab/lime_camera.png');     }
			div.cascade ul.cascade-menu li.lime-document a          { background-image:url('../image/tab/lime_document.png');   }
			div.cascade ul.cascade-menu li.lime-briefcase a         { background-image:url('../image/tab/lime_briefcase.png');  }
			div.cascade ul.cascade-menu li.lime-lightbulb a         { background-image:url('../image/tab/lime_lightbulb.png');  }   

			div.cascade ul.cascade-menu li.orange-info a            { background-image:url('../image/tab/orange_info.png');       }
			div.cascade ul.cascade-menu li.orange-mail a            { background-image:url('../image/tab/orange_mail.png');       }
			div.cascade ul.cascade-menu li.orange-tick a            { background-image:url('../image/tab/orange_tick.png');       }
			div.cascade ul.cascade-menu li.orange-arrow a           { background-image:url('../image/tab/orange_arrow.png');      }
			div.cascade ul.cascade-menu li.orange-people a          { background-image:url('../image/tab/orange_people.png');     }
			div.cascade ul.cascade-menu li.orange-basket a          { background-image:url('../image/tab/orange_basket.png');     }
			div.cascade ul.cascade-menu li.orange-camera a          { background-image:url('../image/tab/orange_camera.png');     }
			div.cascade ul.cascade-menu li.orange-document a        { background-image:url('../image/tab/orange_document.png');   }
			div.cascade ul.cascade-menu li.orange-briefcase a       { background-image:url('../image/tab/orange_briefcase.png');  }
			div.cascade ul.cascade-menu li.orange-lightbulb a       { background-image:url('../image/tab/orange_lightbulb.png');  }

			div.cascade ul.cascade-menu li.purple-info a            { background-image:url('../image/tab/purple_info.png');       }
			div.cascade ul.cascade-menu li.purple-mail a            { background-image:url('../image/tab/purple_mail.png');       }
			div.cascade ul.cascade-menu li.purple-tick a            { background-image:url('../image/tab/purple_tick.png');       }
			div.cascade ul.cascade-menu li.purple-arrow a           { background-image:url('../image/tab/purple_arrow.png');      }
			div.cascade ul.cascade-menu li.purple-people a          { background-image:url('../image/tab/purple_people.png');     }
			div.cascade ul.cascade-menu li.purple-basket a          { background-image:url('../image/tab/purple_basket.png');     }
			div.cascade ul.cascade-menu li.purple-camera a          { background-image:url('../image/tab/purple_camera.png');     }
			div.cascade ul.cascade-menu li.purple-document a        { background-image:url('../image/tab/purple_document.png');   }
			div.cascade ul.cascade-menu li.purple-briefcase a       { background-image:url('../image/tab/purple_briefcase.png');  }
			div.cascade ul.cascade-menu li.purple-lightbulb a       { background-image:url('../image/tab/purple_lightbulb.png');  }

			div.cascade ul.cascade-menu li.red-info a               { background-image:url('../image/tab/red_info.png');       }
			div.cascade ul.cascade-menu li.red-mail a               { background-image:url('../image/tab/red_mail.png');       }
			div.cascade ul.cascade-menu li.red-tick a               { background-image:url('../image/tab/red_tick.png');       }
			div.cascade ul.cascade-menu li.red-arrow a              { background-image:url('../image/tab/red_arrow.png');      }
			div.cascade ul.cascade-menu li.red-people a             { background-image:url('../image/tab/red_people.png');     }
			div.cascade ul.cascade-menu li.red-basket a             { background-image:url('../image/tab/red_basket.png');     }
			div.cascade ul.cascade-menu li.red-camera a             { background-image:url('../image/tab/red_camera.png');     }
			div.cascade ul.cascade-menu li.red-document a           { background-image:url('../image/tab/red_document.png');   }
			div.cascade ul.cascade-menu li.red-briefcase a          { background-image:url('../image/tab/red_briefcase.png');  }
			div.cascade ul.cascade-menu li.red-lightbulb a          { background-image:url('../image/tab/red_lightbulb.png');  }

			div.cascade ul.cascade-menu li.turquoise-info a          { background-image:url('../image/tab/turquoise_info.png');       }
			div.cascade ul.cascade-menu li.turquoise-mail a          { background-image:url('../image/tab/turquoise_mail.png');       }
			div.cascade ul.cascade-menu li.turquoise-tick a          { background-image:url('../image/tab/turquoise_tick.png');       }
			div.cascade ul.cascade-menu li.turquoise-arrow a         { background-image:url('../image/tab/turquoise_arrow.png');      }
			div.cascade ul.cascade-menu li.turquoise-people a        { background-image:url('../image/tab/turquoise_people.png');     }
			div.cascade ul.cascade-menu li.turquoise-basket a        { background-image:url('../image/tab/turquoise_basket.png');     }
			div.cascade ul.cascade-menu li.turquoise-camera a        { background-image:url('../image/tab/turquoise_camera.png');     }
			div.cascade ul.cascade-menu li.turquoise-document a      { background-image:url('../image/tab/turquoise_document.png');   }
			div.cascade ul.cascade-menu li.turquoise-briefcase a     { background-image:url('../image/tab/turquoise_briefcase.png');  }
			div.cascade ul.cascade-menu li.turquoise-lightbulb a     { background-image:url('../image/tab/turquoise_lightbulb.png');  }

			div.cascade ul.cascade-menu li.yellow-info a            { background-image:url('../image/tab/yellow_info.png');       }
			div.cascade ul.cascade-menu li.yellow-mail a            { background-image:url('../image/tab/yellow_mail.png');       }
			div.cascade ul.cascade-menu li.yellow-tick a            { background-image:url('../image/tab/yellow_tick.png');       }
			div.cascade ul.cascade-menu li.yellow-arrow a           { background-image:url('../image/tab/yellow_arrow.png');      }
			div.cascade ul.cascade-menu li.yellow-people a          { background-image:url('../image/tab/yellow_people.png');     }
			div.cascade ul.cascade-menu li.yellow-basket a          { background-image:url('../image/tab/yellow_basket.png');     }
			div.cascade ul.cascade-menu li.yellow-camera a          { background-image:url('../image/tab/yellow_camera.png');     }
			div.cascade ul.cascade-menu li.yellow-document a        { background-image:url('../image/tab/yellow_document.png');   }
			div.cascade ul.cascade-menu li.yellow-briefcase a       { background-image:url('../image/tab/yellow_briefcase.png');  }
			div.cascade ul.cascade-menu li.yellow-lightbulb a       { background-image:url('../image/tab/yellow_lightbulb.png');  }

			div.cascade ul.cascade-menu li.red-img-1 a,              
			div.cascade ul.cascade-menu li.blue-img-1 a,
			div.cascade ul.cascade-menu li.lime-img-1 a,              
			div.cascade ul.cascade-menu li.green-img-1 a,             
			div.cascade ul.cascade-menu li.orange-img-1 a,            
			div.cascade ul.cascade-menu li.purple-img-1 a,           
			div.cascade ul.cascade-menu li.yellow-img-1 a,
			div.cascade ul.cascade-menu li.turquoise-img-1 a         
			{
				background-image:url('../image/tab/image_1.jpg'); 
			}

			div.cascade ul.cascade-menu li.red-img-2 a,              
			div.cascade ul.cascade-menu li.blue-img-2 a,
			div.cascade ul.cascade-menu li.lime-img-2 a,              
			div.cascade ul.cascade-menu li.green-img-2 a,             
			div.cascade ul.cascade-menu li.orange-img-2 a,            
			div.cascade ul.cascade-menu li.purple-img-2 a,           
			div.cascade ul.cascade-menu li.yellow-img-2 a,
			div.cascade ul.cascade-menu li.turquoise-img-2 a         
			{
				background-image:url('../image/tab/image_2.jpg'); 
			}

			div.cascade ul.cascade-menu li.red-img-3 a,              
			div.cascade ul.cascade-menu li.blue-img-3 a,
			div.cascade ul.cascade-menu li.lime-img-3 a,              
			div.cascade ul.cascade-menu li.green-img-3 a,             
			div.cascade ul.cascade-menu li.orange-img-3 a,            
			div.cascade ul.cascade-menu li.purple-img-3 a,           
			div.cascade ul.cascade-menu li.yellow-img-3 a,
			div.cascade ul.cascade-menu li.turquoise-img-3 a         
			{
				background-image:url('../image/tab/image_3.jpg'); 
			}

			div.cascade ul.cascade-menu li.red-img-4 a,              
			div.cascade ul.cascade-menu li.blue-img-4 a,
			div.cascade ul.cascade-menu li.lime-img-4 a,              
			div.cascade ul.cascade-menu li.green-img-4 a,             
			div.cascade ul.cascade-menu li.orange-img-4 a,            
			div.cascade ul.cascade-menu li.purple-img-4 a,           
			div.cascade ul.cascade-menu li.yellow-img-4 a,
			div.cascade ul.cascade-menu li.turquoise-img-4 a         
			{
				background-image:url('../image/tab/image_4.jpg'); 
			}

		/**********************************************************************/
		/* Cascade / Window													  */
		/**********************************************************************/

		div.cascade div.cascade-window
		{
			top:-6px;
			width:0px;
			z-index:4;
			left:220px;
			display:none;
			height:474px;
			padding-top:6px;
			position:absolute;
		}
		
		div.cascade div.cascade-window.cascade-window-prealoder
		{
			background:url('../image/preloader.gif') 50% 50% no-repeat;
		}

		div.cascade div.cascade-window h3
		{
			font-size:18px;
			font-weight:normal;
		}

			/******************************************************************/
			/* Cascade / Window / Close bar							          */
			/******************************************************************/

			div.cascade div.cascade-window div.cascade-window-close-bar
			{
				height:3px;
			}

			div.cascade div.cascade-window.red div.cascade-window-close-bar         { background-color:#D04519; }        
			div.cascade div.cascade-window.blue div.cascade-window-close-bar        { background-color:#00A4CD; }
			div.cascade div.cascade-window.lime div.cascade-window-close-bar        { background-color:#8BB300; }
			div.cascade div.cascade-window.green div.cascade-window-close-bar       { background-color:#53B123; }
			div.cascade div.cascade-window.yellow div.cascade-window-close-bar      { background-color:#EBB100; }
			div.cascade div.cascade-window.orange div.cascade-window-close-bar      { background-color:#D75902; }
			div.cascade div.cascade-window.purple div.cascade-window-close-bar      { background-color:#B1457B; }
			div.cascade div.cascade-window.turquoise div.cascade-window-close-bar 	{ background-color:#00B8BA; }        

				div.cascade div.cascade-window div.cascade-window-close-bar a
				{
					top:0px;
					z-index:3;
					right:20px;
					width:19px;
					height:15px;
					float:right;
					display:block;
					position:absolute;
					background-repeat:no-repeat;
					background-position:0px 0px;
				}

				div.cascade div.cascade-window div.cascade-window-close-bar a:hover
				{
					background-position:0px -15px;
				}

				div.cascade div.cascade-window.red div.cascade-window-close-bar a           { background-image:url('../image/close-button/content_close_red.png');          }
				div.cascade div.cascade-window.blue div.cascade-window-close-bar a          { background-image:url('../image/close-button/content_close_blue.png');         }
				div.cascade div.cascade-window.lime div.cascade-window-close-bar a          { background-image:url('../image/close-button/content_close_lime.png');         }
				div.cascade div.cascade-window.green div.cascade-window-close-bar a         { background-image:url('../image/close-button/content_close_green.png');        }
				div.cascade div.cascade-window.yellow div.cascade-window-close-bar a        { background-image:url('../image/close-button/content_close_yellow.png');       }
				div.cascade div.cascade-window.orange div.cascade-window-close-bar a        { background-image:url('../image/close-button/content_close_orange.png');       }
				div.cascade div.cascade-window.purple div.cascade-window-close-bar a        { background-image:url('../image/close-button/content_close_purple.png');       }
				div.cascade div.cascade-window.purple div.cascade-window-close-bar a        { background-image:url('../image/close-button/content_close_purple.png');       }
				div.cascade div.cascade-window.turquoise div.cascade-window-close-bar a     { background-image:url('../image/close-button/content_close_turquoise.png');    }

			/******************************************************************/
			/* Cascade / Window / Content									  */
			/******************************************************************/			

			div.cascade div.cascade-window div.cascade-window-content
			{
				width:600px;
				height:415px;	
				overflow:hidden;
				padding-right:10px;
				margin:10px 0px 10px 0px;
			}	
			
				div.cascade div.cascade-window div.cascade-page
				{
					width:590px;
					overflow:hidden;
				}

			/******************************************************************/
			/* Cascade / Window / Footer						              */
			/******************************************************************/					

			div.cascade div.cascade-window div.cascade-window-footer
			{
				top:-22px;
				height:53px;
				position:relative;
				background:url('../image/content_footer_610.png') 0px 0px no-repeat; 	
			}	

	/**************************************************************************/
	/* Cascade / Navigation													  */
	/**************************************************************************/	

	div.cascade a.cascade-navigation
	{
		top:194px;
		width:25px;
		height:50px;
		display:none;
		z-index:1000;
		position:absolute;
		background-repeat:no-repeat;
		background-position:0px 0px;
	}			

	div.cascade a.cascade-navigation:hover
	{
		background-position:0px -50px;
	}

		div.cascade a.cascade-navigation-prev,
		div.cascade a.cascade-navigation-slider-prev
		{
			left:-50px;
			background-image:url('../image/content_nav_left.png');
		}

		div.cascade a.cascade-navigation-next,
		div.cascade a.cascade-navigation-slider-next
		{
			right:-50px;
			background-image:url('../image/content_nav_right.png');
		}		

/******************************************************************************/
/* Footer																      */
/******************************************************************************/

div.footer
{
	border-top:solid 1px #1A1A1A;
	background:url('../image/footer_light.png') top center no-repeat;
}

	div.footer hr.footer-line
	{
		height:1px;
		margin:0px;
		padding:0px;
		border:none;
		#margin-top:-7px;
	}

	div.footer div.main
	{
		top:-1px;
		min-height:43px;
		position:relative;
		padding:25px 0px 25px 0px;
		#margin-top:-13px;
	}

	/**************************************************************************/
	/* Footer / Latest tweets											      */
	/**************************************************************************/

	div.footer div.main div.latest-tweets
	{
		background:url('../image/footer_icon_tweet.png') left center no-repeat;
	}

		div.footer div.main div.latest-tweets #latest-tweets ul
		{
			margin:0px;
			padding:0px;
			margin-left:35px;
			list-style-type:none;				
			border-left:solid 1px #343434; 
		}

			div.footer div.main div.latest-tweets #latest-tweets ul li
			{
				display:table-row;
			}

				div.footer div.main div.latest-tweets #latest-tweets ul li p
				{
					margin:0px;
					padding:0px;
					padding-left:15px;
					display:table-cell;
					vertical-align:middle;
				}

					div.footer div.main div.latest-tweets #latest-tweets ul li p a:hover
					{
						text-decoration:underline !important;
					}