/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea,
input[type="text"]
{
	width:358px;
}

/******************************************************************************/
/*	Main                                                                  `   */
/******************************************************************************/

div.main
{
	width:620px;
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div.header
{

}

	div.header ul.header-menu
	{
	
	}
	
		div.header ul.header-menu li
		{
			float:left;
		}

    /**************************************************************************/
    /*	Cascade                                                               */
    /**************************************************************************/

    div.cascade
    {
		width:620px;
	}
	
	div.cascade div.caroufredsel_wrapper
	{
		width:620px !important;
	}
	
        /**********************************************************************/
        /* Cascade / Box menu                                                 */
        /**********************************************************************/

        div.cascade ul.cascade-menu
		{
			width:620px;
		}

            /******************************************************************/
            /* Cascade / Window                                               */
            /******************************************************************/

            div.cascade div.cascade-window
            {
                left:220px;
            }
			
                /**************************************************************/
                /* Cascade / Window / Content                                 */
                /**************************************************************/			

                div.cascade div.cascade-window div.cascade-window-content
				{
					width:390px;
				}
				
					div.cascade div.cascade-window div.cascade-page
					{
						width:380px;
					}
					
				/**************************************************************/
				/* Cascade / Window / Footer                                  */
				/**************************************************************/					

				div.cascade div.cascade-window div.cascade-window-footer
				{
					background-image:url('../../image/content_footer_400.png');	
				}	
				
        /**********************************************************************/
        /* Cascade / Navigation                                               */
        /**********************************************************************/	
		
			div.cascade a.cascade-navigation-prev,
			div.cascade a.cascade-navigation-slider-prev
            {
                left:-60px;
            }

            div.cascade a.cascade-navigation-next,
			div.cascade a.cascade-navigation-slider-next
            {
                right:-60px;
            }	
			
/******************************************************************************/
/* Page																		  */
/******************************************************************************/
			
    /**************************************************************************/
    /* Gallery                                                                */
    /**************************************************************************/

	div.gallery-list-wrapper
	{
		width:365px;
	}
	
		/**********************************************************************/
		/* Gallery / List                                                     */
		/**********************************************************************/

		ul.gallery-list
		{
			width:370px;
		}