/******************************************************************************/
/*	Layouts																	  */
/******************************************************************************/

    .layout-50 {}

    .layout-50-left,
	.layout-50-right,
	.layout-6040-left,
	.layout-6040-right,
	.layout-4060-left,
	.layout-4060-right,
	.layout-7030-left,
	.layout-7030-right
    { 
		float:none;
        clear:both;
        width:100%;
		height:100%;
		overflow:hidden;
    }

    .layout-50-right 
    { 
        margin-top:30px; 
    }

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div.header
{

}

	div.header ul.header-menu
	{
		float:left;
		margin-top:10px;
	}
	
		/**********************************************************************/
        /* Cascade / Navigation                                               */
        /**********************************************************************/	
		
			div.cascade a.cascade-navigation-prev,
			div.cascade a.cascade-navigation-slider-prev
            {
                left:0px;
            }

            div.cascade a.cascade-navigation-next,
			div.cascade a.cascade-navigation-slider-next
            {
                right:0px;
            }	
			
/******************************************************************************/
/*	Footer		                                                              */
/******************************************************************************/

div.footer div.main ul.social-list 
{
	margin-top:10px;
}

	div.footer div.main ul.social-list li:first-child
	{
		display:none;
	}
	
/******************************************************************************/
/* Page																		  */
/******************************************************************************/	  

	/**************************************************************************/
	/* Slider																  */
	/**************************************************************************/	

	#sliderBox
	{
		float:none;
		margin-left:auto;
		margin-right:auto;
	}

	/**************************************************************************/
    /* Gallery                                                                */
    /**************************************************************************/

		/**********************************************************************/
		/* Gallery / List                                                     */
		/**********************************************************************/

				ul.gallery-list li.left,
				ul.gallery-list li.center,
				ul.gallery-list li.right
				{
					clear:none;
					float:left;
				}