/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea,
input[type="text"]
{
	width:368px;
}

/******************************************************************************/
/* Main																		  */
/******************************************************************************/

div.main
{
	width:410px;
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div.header
{
	
}

	div.header ul.header-menu
	{

	}
	
		div.header ul.header-menu li
		{
			clear:both;
			margin-left:0px;
			margin-bottom:5px;
		}


    /**************************************************************************/
    /*	Cascade                                                               */
    /**************************************************************************/

    div.cascade
    {
		width:410px;
	}
	
	div.cascade div.caroufredsel_wrapper
	{
		width:410px !important;
	}
	
        /**********************************************************************/
        /* Cascade / Box menu                                                 */
        /**********************************************************************/

        div.cascade ul.cascade-menu
		{
			width:410px;
		}

            /******************************************************************/
            /* Cascade / Window                                               */
            /******************************************************************/

            div.cascade div.cascade-window
            {
                left:0px;
            }
			
                /**************************************************************/
                /* Cascade / Window / Content                                 */
                /**************************************************************/			

                div.cascade div.cascade-window div.cascade-window-content
				{
					width:400px;
				}
				
					div.cascade div.cascade-window div.cascade-page
					{
						width:390px;
					}
					
				/**************************************************************/
				/* Cascade / Window / Footer                                  */
				/**************************************************************/					

				div.cascade div.cascade-window div.cascade-window-footer
				{
					background-image:url('../../image/content_footer_410.png');	
				}
				
        /**********************************************************************/
        /* Cascade / Navigation                                               */
        /**********************************************************************/	
		
			div.cascade a.cascade-navigation-prev,
			div.cascade a.cascade-navigation-slider-prev
            {
                left:-35px;
            }

            div.cascade a.cascade-navigation-next,
			div.cascade a.cascade-navigation-slider-next
            {
                right:-35px;
            }	

/******************************************************************************/
/* Page																		  */
/******************************************************************************/
			
    /**************************************************************************/
    /* Gallery                                                                */
    /**************************************************************************/

	div.gallery-list-wrapper
	{
		width:365px;
	}
	
		/**********************************************************************/
		/* Gallery / List                                                     */
		/**********************************************************************/

		ul.gallery-list
		{
			width:370px;
		}