/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea,
input[type="text"]
{
	width:168px;
}

/******************************************************************************/
/* Social list														          */
/******************************************************************************/

	/**************************************************************************/
	/* Social list / Social list 1									          */
	/**************************************************************************/
	
	ul.social-list-1
	{
		margin-top:10px;
	}
	
		ul.social-list-1 li:first-child
		{
			display:none;
		}

/******************************************************************************/
/*	Main																	  */
/******************************************************************************/

div.main
{
	width:200px;
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div.header
{
	
}

	div.header h1 a
	{
		font-size:40px;
	}

	div.header ul.header-menu
	{

	}
	
		div.header ul.header-menu li
		{
			clear:both;
			margin-left:0px;
			margin-bottom:5px;
		}

    /**************************************************************************/
    /*	Cascade                                                               */
    /**************************************************************************/

    div.cascade
    {
		width:200px;
	}
	
	div.cascade div.caroufredsel_wrapper
	{
		width:200px !important;
	}
	
        /**********************************************************************/
        /* Cascade / Box menu                                                 */
        /**********************************************************************/

        div.cascade ul.cascade-menu
		{
			width:200px;
		}

            /******************************************************************/
            /* Cascade / Window                                               */
            /******************************************************************/

            div.cascade div.cascade-window
            {
                left:0px;
            }
			
                /**************************************************************/
                /* Cascade / Window / Content                                 */
                /**************************************************************/			

                div.cascade div.cascade-window div.cascade-window-content
				{
					width:200px;
				}
				
					div.cascade div.cascade-window div.cascade-page
					{
						width:190px;
					}
					
				/**************************************************************/
				/* Cascade / Window / Footer                                  */
				/**************************************************************/					

				div.cascade div.cascade-window div.cascade-window-footer
				{
					background-image:url('../../image/content_footer_200.png');	
				}
				
        /**********************************************************************/
        /* Cascade / Navigation                                               */
        /**********************************************************************/	
		
			div.cascade a.cascade-navigation-prev,
			div.cascade a.cascade-navigation-slider-prev
            {
                left:-50px;
            }

            div.cascade a.cascade-navigation-next,
			div.cascade a.cascade-navigation-slider-next
            {
                right:-50px;
            }	
			
/******************************************************************************/
/* Page																		  */
/******************************************************************************/			
	
	/**************************************************************************/
	/* Slider																  */
	/**************************************************************************/	

	#slider,
	#sliderBox
	{
		width:190px;
	}

	#sliderBox
	{
		height:250px;
	}

	#slider
	{
		height:210px;
	}
		
    /**************************************************************************/
    /* Gallery                                                                */
    /**************************************************************************/

	div.gallery-list-wrapper
	{
		width:180px;
	}
	
		/**********************************************************************/
		/* Gallery / List                                                     */
		/**********************************************************************/

		ul.gallery-list
		{
			width:180px;
		}
		
			ul.gallery-list li
			{
				margin-right:0px;
			}
	
		/**********************************************************************/
		/* Gallery / Filter list                                              */
		/**********************************************************************/
		
		ul.filter-list
		{
			display:none;
		}
		
		/**********************************************************************/
		/* Gallery / Filter select box                                        */
		/**********************************************************************/
		
		select.filter-select-box
		{
			display:block;
		}

    /**************************************************************************/
    /* Skill List                                                             */
	/* Careerlist                                                             */
    /**************************************************************************/
		
		/**********************************************************************/
		/* Skill List                                                         */
		/**********************************************************************/	

		ul.skill-list li div.skill-list-item-level
		{

			width:100%;
			clear:both;
			float:none;
			height:100%;
			overflow:hidden;
			margin:5px 0px 10px 0px;
		}	

		ul.skill-list li div.skill-list-item-period
		{
			clear:both;
		}